@import url('https://fonts.googleapis.com/css2?family=Acme&family=Angkor&family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Slackside+One&family=Whisper&display=swap');

.container{
    margin: 2rem;
    min-height: 100%;
    display: grid;
    grid-template-areas: 
    'image text'
    'experience experience';
    gap: 0.7rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

#text {
    grid-area: text;
    padding: 0.5rem;
    text-align: center;
    
}

#image {
    grid-area: image;
    padding: 0.5rem;
}

#experience {
    grid-area: experience;
    padding: 0.5rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

h2 {
    font-size: 150%;
    text-decoration: underline;
    font-family: "Acme", sans-serif;
    text-align: center;
}

.vr {
    border-left: 5px solid black;
    height: 100%;
}

.about {
    margin-top: 10%;
}

ol {
    list-style-type: square;
}