fieldset {
    margin: 5rem;
    margin-top: 0;
    padding: 2rem;
    text-align: center;
    border-radius: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    font-size: 200%;
    font-weight: bold;
    color: #bc4123;
}

label {
    margin-top: 0.5rem;
}

#submit, #submit:active, #reset, #reset:active{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #bc4123;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: none;
}

#submit:hover, #reset:hover {
    color: #a0331d;
    background-color: white;
    border: 1px solid #bc4123;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

input {
    padding: 0.5rem;
    border: 0.5px solid #bc4123;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 0.5px solid #a0331d;
}

body {
    background-image: linear-gradient(to bottom right, white, grey);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.hr {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}